.App {
  margin: 10px;
  text-align: center;
}

.card{
  margin: 5px;
}

.form{
  text-align: center;
  color: white;
}

ul {
  list-style: none;
}

.row {
  margin-left: 10em;
  text-align: left;
}

.jumbotron {
  color: black;
}
